<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>详情页</title>
</head>
<body>
    <div class="detail">
        <div class="title"><%=item.title%></div>
        <div class=''><!--这个自己写-->>
            <span>作者:<%=item.username%></span>
            <span>发布时间：<%=item.time%></span>
        </div>
        <div class="content"><%-item.content %></div>
    </div>
</body>
</html>